# 🌐 DATABASE
DATABASE_URL='postgresql://neondb_owner:npg_ejVh8dY3uwfB@ep-bold-truth-ahcpk87j-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'

# Local environment configuration.

# 🔐 SECURITY
JWT_SECRET="super-secret-key-change-me"
ALLOWED_ORIGINS="http://localhost:3000,http://localhost:3001, https://proventures.vercel.app/
, https://proven-frontend.vercel.app/
"

# 📧 EMAIL (Nodemailer)
EMAIL_HOST="smtp.resend.com"
EMAIL_PORT=465
EMAIL_USER="resend"
EMAIL_PASS="your-api-key"
